<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/doranco.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">

</head>
<body>

    <div class="hero">
        <h1>Découvrez notre nouveau site dédié à <br> <span class="span-hero">L'ALTERNANCE</span></h1>
        <a href="https://doranco-ecole.fr/" class="btn">Je découvre</a>
    </div>

    <div class="about-us">
        <h2>qui sommes-nous ?</h2>
        
            <p>Fondé en 1992, DORANCO est <strong>École</strong> 
            (Établissement d'enseignement Technique Privé)
            et <strong>Organisme de Formation</strong>  dont le siège social
            est situé dans le 20ème arrondissement de Paris
            </p>

            <p>DORANCO forme depuis de nombreuses années des professionnels
            en reconversion ou des étudiants aux <strong>métiers de l'informatique,
            du Web, du Digital et de la Tech.</strong> <br>
            Notre <a href="https://www.doranco.fr/notre-pedagogie" target="_blank">pédagogie innovante et inclusive</a>
            nous permet de proposer
            des formations en présentiel ou mix-learning (moitié présentiel, moitié e-learning)
            ou 100% à distance en formation continue, conventionnée ou en alternance,
            ainsi qu'un accompagnement à la VAE.
            </p>

            <p>DORANCO est certifié QUALIOPI et est signataire de la charte RSE des Acteurs de la Compétences.
            En 2021, Doranco rejoint le groupe Eureka Education,<br>
            acteur majeur de l’Enseignement Professionnel et Supérieur
            en France et ouvre de nouveaux campus dans des grandes villes en France.
            </p>
    </div>
    <img src="../img/portrait-640x800.jpg" alt="un portrait" class="portrait"> 

    <div class="container-2">
        <img src="../img/portrait-2640x844.jpg" alt="un deuxieme portrait" class="portrait-2">
    </div>         
</body>
</html>