<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML - Exercice</title>
    <link rel="stylesheet" href="../css/selector-practice.css">
</head>
<body>
    <div class="subtitle">
        <h1>Titre super important</h1>
        <h2>Titre important</h2>
        <h3>Titre moins important</h3>
        <h4>Titre pas trop important</h4>
        <h5 class="subtitle">Titre pas important</h5>
        <h6>titre vraiment pas important</h6>

        <hr>

        <h2 class="upper">Les images</h2>
        <p>Je suis Bart Simpson</p>
        <h2 class="upper">Les images dynamiques</h2>

        <hr>

        <h2 class="txt-red">Les liens</h2>
        <h3>mes films préférés</h3>
        <ol>
            <li>ben hur</li>
            <li>monstre & co</li>
            <li class="txt-bold txt-italic">taxi driver</li>
        </ol>

        <h3 class="list-sport">mes sports préférés</h3>
        <ul>
            <li>boxe</li>
            <li>escalade</li>
            <li class="txt-italic">natation</li>
        </ul>
    </div>
</body>
</html>